<footer class="lp-footer">
  <div class="lp-container lp-footer-inner">
    <nav aria-label="Footer links">
      <a target="_blank" href="https://www.clir.org/privacy/">Privacy Policy</a>
      <a href="#">Contact Us</a>
    </nav>
    <p>&copy; 2026 CLIR</p>
  </div>
</footer>