<script src="{{ '/assets/js/site-search.js' | url }}"></script>
<script src="{{ '/assets/js/media-browser.js' | url }}"></script>
<script src="{{ '/assets/js/site-header.js' | url }}"></script>
{% if reportsBrowser %}
<script src="{{ '/assets/js/reports-browser.js' | url }}"></script>
{% endif %}
