<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ title or "CLIR Publications" }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png" />
    <link rel="icon" href="/assets/favicon/favicon.ico" />
    <link rel="manifest" href="/assets/favicon/site.webmanifest" />
    <link rel="stylesheet" href="/assets/styles.css" />
  </head>
  <body class="bg-[var(--color-clir-white)] text-[var(--color-clir-ink)] font-[var(--font-sans)]">
    <header>
        <h1 class="font-[var(--font-serif)] text-[var(--color-clir-maroon)] text-4xl">

      <a href="/">CLIR Publications</a>
      </h1>
      <nav>
        <a href="/reports/">Reports</a>
      </nav>
    </header>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>
